<div class="games-container">
  <mat-toolbar color="primary" class="create-toolbar">
    <mat-toolbar-row>
      <span class="title">All Games</span>
      <div class="button-row">
        <button (click)="goToCreate()" mat-raised-button color="accent" class="pull-right">
          Create a Game
          <mat-icon class="example-icon">add_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="game-card-container">
    <mat-card class="grow" *ngFor="let game of games; let i = index">
      <mat-toolbar color="warn" class="toolbar">
        <mat-toolbar-row>
          <mat-card-title>{{game.name}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-toolbar-row>
      </mat-toolbar>
      <img class="list-cover-image" mat-card-image [src]="game.image_url" alt="game">
      <mat-card-content>
        <p>ID: {{game._id}}</p>
        <P>Platform: {{game.platform}}</P>
        <P>Publisher: {{game.publisher}}</P>
        <P>Category: {{game.category}}</P>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="deleteGame(game._id)" color="warn">
          Delete
          <mat-icon class="example-icon">clear</mat-icon>
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/game',game._id]">
          Edit
          <mat-icon class="example-icon">edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>